<div class="my-2">
    <h5>Add a Todo Item</h5>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" [(ngModel)]="desc" name ="desc" class="form-control" id="desc">
    </div>
    
    <button type="submit" class="btn btn-primary btn-sm">Add Todo</button>
  </form>
</div>